body{ background:#f1fbff; height:768px; font-family:Microsoft Yahei,"微软雅黑","宋体"; font-size:14px; color:#000;}
img{border:0px;}
ul,ol,li{list-style:none;}
*{margin:0;padding:0;}
.clear{clear:both;display:inline;}
a{color:#474747; text-decoration:none;}

#boxlist{ margin:auto; width:1280px;}
.list_left{ float:left; width:371px; padding:20px 0 0 25px;}
.list_left p{ float:left; width:371px; height:156px;}
.list_left span{ width:371px; margin-top:86px; float:left;}
.list_right{ float:left; margin-left:40px; display:inline; width:820px;}
.clear_conter{ margin-top:20px; float:left; width:833px; height:52px; background:#505050; border-radius:5px;}
.clear_conter1{ float:left;width:833px;}
.clear_conter1 p{ float:left; padding:10px 0 0 10px;}
.clear_conter1 span{ float:left; padding:1px 0 0 10px;}
.clear_conter1 ul{ float:left; width:120px; padding-left:10px; margin-top:10px;}
.clear_conter1 ul li{ float:left; width:120px; line-height:18px; color:#FFF;}

.clear_conter1 h3{ float:left; line-height:52px; width:62px; text-align:center; font-size:30px; font-weight:bold; padding-left:10px; color:#FFF;}
.clear_conter1 h6{ float:left;background:#000; border-radius:10px; width:490px; height:22px; margin:16px 0 0 15px;}
.clear_conter1 h6 img{ float:left; height:22px;border-radius:10px;}












